.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 24px;
  font-weight: 700;
  background: linear-gradient(135deg, #e93f3f 0%, #e82b2b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo-icon {
  width: 40px;
  height: 40px;
  /* background: linear-gradient(135deg, #e93f3f 0%, #e82b2b 100%); */
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
